<%- include('head')-%>
<section>
  <div class="w-100 mh-100vh bg-primary">
    <div class="container py-5 vh-100">
      <div class="row h-100 bg-white mx-5 rounded">
        <div
          class="col-lg-6 d-none d-md-flex h-100 align-items-center justify-content-center"
        >
          <img
            src="static/images/loginPageImage.jpg"
            alt="login"
            class="w-100"
          />
        </div>
        <div
          class="col-lg-6 h-100 d-flex align-items-center justify-content-center"
        >
          <form class="bg-white rounded p-5" action="/login" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                name="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                required
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                name="password"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                required
              />
              <% if (locals.invalidEmail) { %>
              <p class="text-danger hideError"><%= invalidEmail %></p>
              <% } %>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <div id="emailHelp" class="form-text">
              Don't have an account? <a href="/signup">Sign up</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('foot') -%>
